* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
}

h1, h2, h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
}

.page-section {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 1.5rem;
  margin-bottom: 3rem ;
}

.section-title {
  color: #0B346A;
  border-left: 3px solid #77B0AA;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}

/* Header */
nav {
  position: fixed;
  width: 100vw;
  z-index: 10;
  padding: 0.7rem 1rem;
}

.scroll{
  background-color: #0B346A;
  padding: 0.7rem 1.3rem ;
  border-radius: 3rem;
  box-shadow: 2px 2px 10px #0000007a;
  transition: background-color 0.5s ease, border-radius 0.5s ease, box-shadow 0.3s ease;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s ease, border-radius 0.5s ease, box-shadow 0.3s ease;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.menu-items {
  background-color: #0B346A;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 1rem 3rem;
  height: 100%;
  width: 100%;
  top:0;
  right: -100%;
  transition: right 0.5s ease;
  gap: 3rem;
}

.menu-items.show {
  right: -1rem;
}

.close-icon {
  color: #FFF;
  display: flex;
  justify-content: flex-end;
  margin-top: 2.3rem;
}

.desktop-menu {
  display: none;
}

/* Hero */
#hero, #video, #page-hero{
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 7rem;
  display: flex;
  align-items: end;
  overflow: hidden;
}

#page-hero {
  min-height: 90vh;
  border-bottom-right-radius: 10rem;

}

#video {
  min-height: 50vh;
  border-radius: 0rem;
  margin-bottom: 0rem;
}

#hero::before, #video::before, #page-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black transparent overlay */
  z-index: 0;
}

#hero video, #video video, #page-hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video stays behind the overlay */
}

.hero-content, .page-hero-text {
  z-index: 1; /* Ensure text/content is above the video and overlay */
  color: white;
  border: 3px solid white;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 1rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
}

.page-hero-text {
  padding: 1rem;
  font-size: 1.2rem;
}

/* Welcome */

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal-width columns */
  grid-template-rows: repeat(5, auto); /* Auto height rows */
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  width: 100%;
  height: 50vh;
  margin-top: 3rem;
}

.parent img {
  height: auto;
  width: 100%;
  border-radius: 1rem; 
}

.img1 {
  grid-area: 1 / 1 / 2 / 6;
}

.img-2 {
  grid-area: 2 / 1 / 4 / 3; 
}

.div2 { 
  background-color: #003C43; 
  border-radius: 1rem; 
}

.img-3 { 
  grid-area: 4 / 1 / 5 / 3;
}

.img-4 { 
  grid-area: 2 / 3 / 5 / 6; 
}

/* Travel */
.travel-grid {
  display: grid;
  overflow-x: hidden;
  grid-template-columns: repeat(1,1fr);
  /* height: 30vh; */
  padding: 1rem 0rem;
  gap: 3rem;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0B346A;
  gap: 3rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1rem;
  padding: 1rem;
  height: 10rem;
  width: 100%;
  box-shadow: 2px 2px 10px #0b346a56;
}

.grid-item:hover {
  color: #77B0AA;
}

.card-icons {
  color: #0B346A;
  height: 3rem;
  width: 3rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: #FFF;
  background-color: #0B346A;
  padding: 2rem;
}

.footer-top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.footer-links, hr {
  width: 100%;
}


.footer-links div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}


.footer-top h2 {
  font-size: 1rem;
  font-weight: 600;
}

.footer-link, .header-link {
  color: #FFF;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
}

.footer-link:hover, .header-link:hover {
  color: #77B0AA;
}

.copyright {
  width: 100%;
  text-align: center;
}

.accordian-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0000002a;
  padding: 1rem 1rem;
}

.accordian-header h3 {
  color: #0B346A;
}

.accordian-text {
  padding: 1rem 1rem 0rem 1rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.5s ease;
}

.accordian-text.visible{
  max-height: 500px; /* Adjust based on expected content height */
  opacity: 1;
}

.email-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem 1rem;
  gap: 1.5rem;
  background-color: #0B346A;
}

.email-contact h2 {
  font-size: 1.1rem;
  color: #FFF;
}

.email-contact a {
  font-family: 'Inter', sans-serif;
  color: #FFF;
  font-size: 0.9rem;
}

.email-contact a:hover {
  color: #77B0AA;
}

.page-section h3 {
  margin-bottom: 1rem;
  color: #062349;
  font-size: 1.3rem;
}

ul {
  margin: 1rem 0rem;
}

ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}

ul li a {
  font-family: 'Inter';
  text-decoration: none;
  font-weight: bold;
  color: #062349;
}

ul li a:hover {
  color: #77B0AA;
}

.accommodation-info-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid #77B0AA;
  padding: 2rem 0rem;
}

.accommodation-info-card div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.accommodation-info-card div h3 {
  font-size: 2rem;
}

@media only screen and (min-width:1024px) {
  .accommodation-info-card {
    flex-direction: row;
    gap: 2rem;
  }

  .accommodation-info-card img {
    width: 50%;
  }

}

.contact {
  font-style: italic;
  color: #062349;
  font-weight: 700;
}

.location {
  font-style: italic;
  color: #77B0AA;
  margin-bottom: 1rem;
}



@media only screen and (min-width: 700px) {
 
  nav {
    padding: 1.5rem 3rem;
  }

  .logo {
    height: 5rem;
    width: 5rem;
  }
  
  #hamburger-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
    gap: 3rem;
    padding-right: 2rem;
  }

  .header-link {
    font-size: 1rem;
    font-weight: 500;
  }

  .hero-content, .page-hero-text {
    margin-left: 3rem;
  }

  .hero-content h1, .page-hero-text h1{
    font-size: 5rem;
  }

  #page-hero {
    height: 85vh;
  }

  .accordian-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .travel-grid {
    grid-template-columns: repeat(3,1fr);
  }

  #page-section {
    padding: 0rem 10rem;
    margin-bottom: 15rem;
  }

}